@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">J & A - Ciberseguridad</h1>
        <p class="lead">Universitaria de colombia</p>
        <p><a href="https://google.com" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Inicia tu viaje en Ciberseguridad</h2>
            <p>
                La ciberseguridad es esencial para proteger tu información y tus sistemas. Con nuestras soluciones, podrás empezar a defenderte de amenazas comunes y mejorar la seguridad de tu infraestructura digital.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.tusitio.com/inicio-ciberseguridad">Aprende más &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Herramientas y Recursos</h2>
            <p>Descubre herramientas y recursos gratuitos que te ayudarán a fortalecer la seguridad de tu red, gestionar vulnerabilidades y proteger tus aplicaciones contra ataques.</p>
            <p><a class="btn btn-outline-dark" href="https://www.tusitio.com/herramientas-ciberseguridad">Aprende más &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Alojamiento Seguro</h2>
            <p>Selecciona un servicio de hosting que garantice altos estándares de seguridad y protección contra ataques, como DDoS o accesos no autorizados, para tus sitios web y aplicaciones.</p>
            <p><a class="btn btn-outline-dark" href="https://www.tusitio.com/alojamiento-seguro">Aprende más &raquo;</a></p>
        </section>
    </div>

</main>